
.baseMainContentContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  overflow: hidden;
} 



  #pageTitle {
    font-size: 30pt;
    color: orange;
    display: inline-block;

  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f8f8f8;
    overflow-y:scroll
  }

  .margin {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .headContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .mainContent {
    flex: 8;
    display: flex;
    flex-direction: column;
    
    /* background-color: red; */
  }

  .footerContent {
    flex: 1;
    /* background-color: blue; */
  }

 
  @media (max-width: 600px) { 

    .Sidebar {
      display: none;
    }

    #burgerMenyIcon {
      display: block;
    }

    .mobileMenu {
      margin-top: 100px;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
    }
    
    #baseMainContentContainer {
      flex-direction: column;
    }

    #headerContentContainer {
      align-self: flex-start;
    }

    #pageTitle {
      margin-left: 50px;
      margin-top: 20px;
      font-size: 1.2em;
    }

    .margin {
      margin-left: 0;
      margin-right: 0;
    }

  }
