
.base-layout-all-content-container {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  overflow: hidden;
} 

.webpage-logo-image {
  width: 400px;
  margin-bottom: 20px;
}

#pageTitle {
    font-size: 30pt;
    color: orange;
    display: inline-block;

}

.shoppingcart-close-cross {
  width: 30px;
  position: absolute;
  right: 13px;
  top: 13px;
}

.menuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px;
  color: rgb(124, 121, 116);
  overflow: visible;
  z-index: 99;
}

.ShoppingCartMenu {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
right: 0;
z-index: 19;
color: rgb(124, 121, 116);

padding-top: 20px;
padding-right: 20px;
}


  .header-and-main-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f8f8f8;
    overflow-y:scroll
  }

  .margin {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  #burgerMenyIcon {
    width: 30px;
    position: fixed;
    left: 20px;
    top: 20px;
    display: none;
  }

  .Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-app-region: drag;
    align-self: flex-start;
    /* width: 130px; */
    height: 100vh;
    z-index: 2;
    /* background: transparent; */
    background: #ffffff;
    border-right: 0.2px solid #abababba;
    padding: 20px;
    filter: drop-shadow(1px 1px 0.5px rgba(103, 100, 100, 0.25));
  }

  .headContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  .mainContent {
    flex: 8;
    display: flex;
    flex-direction: column;
    
    /* background-color: red; */
  }

  .footerContent {
    flex: 1;
    /* background-color: blue; */
  }

  .hidden-component {
    display: none;
  }

 
  @media (max-width: 600px) { 

    .Sidebar {
      display: none;
    }

    .webpage-logo-image {
      width: 200px;
      margin-bottom: 10px;
      margin-top: 3px;
    }

    #burgerMenyIcon {
      display: block;
    }

    .mobileMenu {
      margin-top: 100px;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
    }

    .menuWrapper {
      
      top: 0;
      right: 0;
      padding: 0%;
    }

    .shoppingcart-close-cross {
      right: 0;
    }
    
    #baseMainContentContainer {
      flex-direction: column;
    }

    #headerContentContainer {
      align-self: flex-start;
    }

    #pageTitle {
      margin-left: 50px;
      margin-top: 20px;
      font-size: 1.2em;
    }

    .margin {
      margin-left: 0;
      margin-right: 0;
    }
  }
