.homeBaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.cartList {
    background-color: #e5e5e5;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
}

.cartItem {
    background-color: white;
    border: 1.5px solid #787878;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.itemPrice {
    font-size: 1.6rem;
    font-weight: 500;
    align-self: center;
    background-color: blue;
}

.btn {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: fit-content;
    align-self: center;
}