.mainContainer{

    display: grid;
    gap: 2px;
    background-color: #f0f5f8;
    grid-template-areas: '. .' 'stars stars' 'comments comments' 'submitButton submitButton' ;
}

.mainContainer div{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.stars {
    grid-area: stars;
}

.comments {
    display: flex;

    grid-area: comments;
}

.submitButton {
    grid-area: submitButton;
    display: flex;
    justify-content: space-between;


}

