
.menuWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    color: rgb(124, 121, 116);
    overflow: visible;
    z-index: 99;
  }

.ShoppingCartMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 19;
  color: rgb(124, 121, 116);

  padding-top: 20px;
  padding-right: 20px;
}


.homeBaseContainer {
    display: flex;
    flex-direction: column;
}








