.discoverMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: lightgrey; */
}

.moviesMovieContainer {
    background-color: lightblue;
    margin: 10px;
}