.main-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 320px;
  background: black;
}
#slider {
  width: 100%;
  height: 320px;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}
.slider-icon.left, .slider-icon.right {
  background: white;
  border-radius: 100%;
  position: static;
  opacity: 0.2;
}
.slider-icon.left {
  left: 0;
}
.slider-icon.right {
  right: 0;
}
.slider-icon.left:hover, .slider-icon.right:hover {
  opacity: 1;
}
.slider-card {
  width: 320px;
  object-fit: contain;
  background: black;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}
.slider-card-title, .slider-card-rating {
  margin: 5px 0px 5px 10px;
}
.slider-card-title {
  font-weight: 500;
  margin-top: 10px;
}
.slider-card-rating {
  opacity: 0.9;
  font-size: 13px;
}

.slider-card-image {
  width: 100%;
  height: 250px;
  background: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dots {
  position: fixed;
  align-items: center;
}
@media (max-width: 600px) {

  .main-slider-container {
    height: 200px;
  }

  #slider {
    width: 100%;
    height: 200px;
  }

  /* .slider-card {
    width: 60px;
    object-fit:fill;
    background: black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    cursor: pointer;
  } */

  .slider-icon.left, .slider-icon.right {
    display: none;
  }

  .slider-card {
    width: 200px;
  }
  
  
}