.selected-movie-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-x: hidden;
}

.background-info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.selected-movie-info {
    display: flex;
    margin-left: 30px;  
    margin-right: 30px;
    margin-bottom: 10px;
    align-items: baseline;
    justify-content: space-between;
}

.background-image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    /* background: linear-gradient(180deg, rgba(98, 98, 98, 0) 0%, rgba(22, 22, 22, 0.81) 28.65%, #000000 88.02%); */
    width: 100%;
    border: 2px solid black;
}

.background-image-sm {
    display: flex;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 400px;
    object-fit: contain;
    
}

.feedback-div {
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
}

.movie-feedback {
    margin-top: 30px;
}

.feedback-info {  
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}

.feedback-info h1 {
    display: flex;
    justify-content: center;
}

.price {
    display: flex;
    margin-top: 0px; 
    flex-direction: column;
}

.price p {
    display: flex;
    
}

.price button {
    display: flex;
    padding: 16px;
    background-color: #547246;
    border-radius: 16px;
    width: fit-content;
    margin-top: 10;
}

.movie-info {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    background-color: rgb(114, 156, 94, 0.6);
    min-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.title-rating {
    display: flex;
    flex-direction: column;
   
}

@media (max-width: 600px) {
    .selected-movie-info {
        margin-left: 10px;
        margin-right: 10px;
    }

    .selected-movie-title {
        font-size: 1.2em;
        font-weight: 500;
    }

    .price button {
        font-weight: 100;
        padding: 12px;
    }

    .feedback-div {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .feedback-info {
        padding-left: 0%;
    }
}