.shoppingCartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 660px;

    background-color: #130506;
}

.shoppingcart-icons {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart {

    width: 500px;
    height: 600px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: rgb(219, 219, 219);
    box-shadow: 1px 2px 30px 1px #130506;
}

.shoppingCart .cardRow {
    width: calc(80% - 14px);
    margin: 0 0 12px 6px;
    box-shadow: 1px 2px 30px 1px #130506;
    background: #f9f9f9;
    cursor: pointer;
}


.shoppingCart .cardRow .cardImg {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.shoppingCart .cardRow .cardImg p {
    position: absolute;

    right: 55px;
    font-size: 20px;
    line-height: 1;
}

.shoppingCart .cardRow .cardImg h3 {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 90px;
    transition: transform 900ms;
}

.shoppingCart .cardRow .cardImg h3:hover {
    transform: scale(1.2);
}

.shoppingCart .cardRow .cardImg img {
    margin: auto;
    width: 90px;
    display: block;
    transition: transform 900ms;
}

.shoppingCart .cardRow .cardImg img:hover {
    transform: scale(1.2);
}

.shoppingCart .cardRow .cardPrice {
    background: #729C5E;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoppingCart .cardRow .cardPrice p {
    margin: 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.shoppingCart .cardRow .cardPrice i {
    color: #f9f9f9;
    cursor: pointer;
}

.shoppingCartPrice {
    width: 440px;
    height: 100px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 14px 1px #130506;
}


.shoppingCartPrice h2 {
    margin: 12px 0 0 0;
    color: #424242;
}

.shoppingCartPrice .allCartItems {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shoppingCartPrice .allCartItems .itemsAmountWrap {
    width: 40px;
    height: 28px;
    display: flex;
    margin-bottom: 3px;
}

.shoppingCartPrice .allCartItems .itemsAmountWrap p {
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

@media(max-width: 600px) {

    .shoppingCart {

        width: 100%;
        height: 100%;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        background-color: rgb(219, 219, 219);
        box-shadow: 1px 2px 30px 1px #130506;
    }

    .shoppingCartPrice {
        width: 100%;
       
    }

}