

.headerWrapper {
    display: flex;
    flex-direction: column;
}


.shoppingCart {
    background-color: blueviolet;
}

.shoppingCart {
    height: 88vh;
    width: 100%;
    min-height: 88vh;
    border-radius: 0;
  }

.totalPrice {
    background-color: aqua;
} 


  /* Shopping Cart */
  /* .shoppingCartContainer {
    width: 400px;
    position: fixed;
    top: 0;
    left: -700px;
    min-height: 100vh;
    justify-content: flex-start;
    opacity: 0;
    transition: all 700ms ease-in-out;
  } */

  /* .shoppingCartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e93941;
  } */

  /* .shoppingCartContainer {
    margin-left: 1000px;
    margin-top: 5px;
    cursor: pointer;
    color: red;
} */
  
  .shoppingCart {
    width: 440px;
    padding: 24px 0;
    height: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 642px;
    overflow: auto;
    background: linear-gradient(135deg,
        rgba(233, 57, 65, 1) 50%,
        rgba(255, 255, 255, 1) 50%);
    border-radius: 100px 0 0 0;
    box-shadow: 1px 2px 30px 1px #130506;
  }
  
  .shoppingCart .cardRow {
    width: calc(80% - 14px);
    margin: 0 0 12px 6px;
    box-shadow: 1px 2px 30px 1px #130506;
    background: #f9f9f9;
    cursor: pointer;
  }
  
  .shoppingCart .cardRow .cardImg {
    width: 100%;
    height: 240px;
    display: flex;
    position: relative;
  }
  
  .shoppingCart .cardRow .cardImg p {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    line-height: 1;
  }
  
  .shoppingCart .cardRow .cardImg img {
    margin: auto;
    width: 160px;
    display: block;
    transition: transform 900ms;
  }
  
  .shoppingCart .cardRow .cardImg img:hover {
    transform: scale(1.2);
  }
  
  .shoppingCart .cardRow .cardPrice {
    background: #e93941;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .shoppingCart .cardRow .cardPrice p {
    margin: 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }
  
  .shoppingCart .cardRow .cardPrice i {
    color: #f9f9f9;
    cursor: pointer;
  }
  
  .shoppingCartPrice {
    width: 440px;
    height: 100px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 14px 1px #130506;
  }
  
  .shoppingCartPrice h2 {
    margin: 12px 0 0 0;
    color: #e93941;
  }
  
  .shoppingCartPrice .allCartItems {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .shoppingCartPrice .allCartItems .allCartItems {
    width: 40px;
    height: 28px;
    display: flex;
    margin-bottom: 3px;
  }
  
  .shoppingCartPrice .allCartItems .itemsAmountWrap p {
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  

  
  

  
    .shoppingCartContainer.hidden {
      left: 0;
      opacity: 1;
    }
  

  
    .shoppingCart .cardRow {
      width: calc(100% - 62px);
    }
  
    .shoppingCartPrice {
      height: 12vh;
      min-height: 12vh;
      width: 400px;
    }
