#small-star-rating .star {
  font-size: 1em;
}

#small-star-rating p {
  font-size: 0.8em;
    color: white;
    margin-right: 4px;
    margin-top: 2px;
}

#medium-star-rating {
font-size: 1.5em;
}

#medium-star-rating p {
  font-size: 1em;
  margin-right: 6px;
  margin-top: 0;
  margin-bottom: 0%;
  color: black;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating div {
   /*  width: 40px; */
  }
  .on {
    color: rgb(255, 209, 7);
  }
  .off {
    color: #ccc;
  }

  /* .star {
    font-size: 1.5em; 
  } */

  .star-rating p {
    /* margin-top: 25px;
    margin-left: 10px;
    margin-right: 20px; */
    font-weight: bold;
    
  }

  @media (max-width: 600px) {

    #medium-star-rating p {
      font-size: 0.7em;
    }
  }

  
