.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    
  }
  .on {
    color: rgb(255, 209, 7);
  }
  .off {
    color: #ccc;
  }

  .star {
    
    font-size: 2.5em;
  }

  