.star-rating {
  display: flex;
  width: 250px;
  align-items: center;
}
.star-rating div {
    width: 40px;
  }
  .on {
    color: rgb(255, 209, 7);
  }
  .off {
    color: #ccc;
  }

  .star {
    font-size: 2.5em; 
  }

  .star-rating p {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.3em;
  }

  