#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  
}


.basemain {
  display: grid;
  grid-template-rows: 100px 80px 400px 700px;
  grid-auto-flow: column;
  font-size: 28px;
  text-align-last: center;
  text-justify: initial;
}

/* Header Styles */

/* .header{
  background-color: aqua;
  width: 100%;
  height: 90px;
  align-items: center;

} */

/* Search Styles */

form {
  width: 100%;
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .searchFormContainer {
  height: 38px;
  position: relative;
  display: flex;
  align-items: center;
}

form .searchFormContainer input,
form .searchFormContainer button {
  height: 100%;
  border: none;
  outline: none;
}

form .searchFormContainer input {
  border: 1px solid #eee;
  padding: 0 10px;
  width: 260px;
  display: block;
}

form .searchFormContainer input:valid,
form .searchFormContainer input:focus {
  border: 1px solid #353b80;
}

form .searchFormContainer input:valid + label,
form .searchFormContainer input:focus + label {
  color: #353b80;
  font-size: 10px;
  font-weight: 600;
  transform: translateY(-24px);
}

form .searchFormContainer label {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transform: translateY(9px) translateX(10px);
  transition: all 400ms ease-in-out;
}

/* Promotional Styles */

.movieslider{
  background-color: blueviolet;
  height: 400px;
}

/* Movies Styles */

.movies{
  background-color: darkcyan;
  height:700px;
}


/* Button Styles */
button {
  border: none;
  outline: none;
  width: 90px;
  padding: 10px 0;
  color: #fff;
  background: #353b80;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 600px) {

  #headerContentContainer {
    display: flex;
  }

  form .searchFormContainer input {
    padding: 0 10px;
    width: 150px;
  }

  form {
    /* margin:0; */
   /*  display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-self: center; */
  }

  .btn {
    height: 38px;
    font-size: 0.7em;
    font-weight: 300;
    width: 60px;
  }
  

  form .searchFormContainer input:valid + label,
  form .searchFormContainer input:focus + label {
  font-size: 0px;
  font-weight: 0;
  
  }
}
